
:root {
  --primary-color: #0f0f0f;
  --contrast-color: #fff;
  --primary-color-c: 15,15,15;
  --contrast-color-c: 255,255,255;
}

.bg-dark-mode {
  --primary-color: #0f0f0f;
  --contrast-color: #fff;
  --primary-color-c: 15,15,15;
  --contrast-color-c: 255,255,255;
}
.bg-white-mode {
  --primary-color: #fff;
  --contrast-color: #0f0f0f;
  --primary-color-c: 255,255,255;
  --contrast-color-c: 15,15,15;
}

@tailwind base;
@tailwind components;
@tailwind utilities;